{{- if .IsPage }}
{{- if eq .Section "posts" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Recipe",
  "name": "{{ .Title }}"
  {{- with .Params.image }},
  "image": "{{ . | absURL }}"
  {{- end }}
  {{- with .Params.description }},
  "description": "{{ . }}"
  {{- end }}
  {{- with .Params.date }},
  "datePublished": "{{ . }}"
  {{- end }}
  {{- with .Params.prepTime }},
  "prepTime": "{{ . }}"
  {{- end }}
  {{- with .Params.cookTime }},
  "cookTime": "{{ . }}"
  {{- end }}
  {{- with .Params.servings }},
  "recipeYield": "{{ . }}"
  {{- end }}
  {{- with .Site.Params.author }},
  "author": {
    "@type": "Person",
    "name": "{{ . }}"
  }
  {{- end }}
}
</script>
{{- end }}
{{- end }}
